<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/indexview.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dolcezza</title>
</head>
<body>
    <div id="bck"></div>
        <div class="fondo">
            <img class="imagendolcezza" src="resources/dolcezza.png" alt="">

            <div class="seleccion">
                <div class="usuario">
                    <form action="login.html">
                        <input type="submit" value="Iniciar Sesión" class="inSesion"></imput>
                    </form>
                </div>
                <div class="tablet">
                    <form action="tabletaLogin.html">
                        <input type="submit" value="Nueva Tablet" class="newTablet"></imput>
                    </form>
                </div>
            </div>
        </div>

</body>
</html>